:root {
  --blue-sapphire: hsla(195, 95%, 22%, 1);
  --blue-sapphire-200: hsla(195, 95%, 37%, 1);
  --blue-green: hsla(199, 43%, 20%, 0.2);
  --jonquil: hsla(50, 94%, 49%, 1);
  --papaya-whip: hsla(42, 100%, 91%, 1);
  --papaya-whip-300: hsla(42, 100%, 81%, 0.2);
  --honeydew: hsla(169, 64%, 92%, 1);
  --liver: hsla(349, 12%, 35%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Zen Maru Gothic", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.welcome-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*   background:  linear-gradient(hsla(91, 56%, 78%, .3), hsla(89, 33%, 74%, .3)),  url(https://github.com/Bass4Change/images/blob/11224a191ec640c45b6439fb3dc2a17ffb53f9f2/Half%20Dome%20from%20North.jpeg?raw=true); */
  background-image: url("https://github.com/Bass4Change/images/blob/11224a191ec640c45b6439fb3dc2a17ffb53f9f2/Half%20Dome%20from%20North.jpeg?raw=true");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.navbar-class {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: var(--blue-sapphire);
  z-index: 20;
}

.navbar-class a {
  padding: 20px;
  font-size: 1.75rem;
}

.navbar-class a:last-child {
  margin-right: 5vw;
}

.welcome-class * {
  text-align: center;
  font-weight: normal;
  max-width: 1000px;
  margin: 80px 100px 0 100px;
}

.welcome-class h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px #08013d;
}

.projects-class {
  background-color: var(--papaya-whip-300);
  padding: 130px 50px 50px 50px;
}

.projects-class * {
  color: black;
}

.projects-class h1 {
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 20px;
  font-weight: normal;
  border-bottom: 2px solid gray;
  margin: 0 auto 40px auto;
  max-width: 700px;
}

.projects-wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40vw 40vw;
  grid-gap: 5vh 5vw;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 800px) {
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .welcome-class h1 {
    font-size: 3rem;
  }
}

.project-tile {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background: white;
  max-height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.project-tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: background-color 0.6s;
}

.project-tile:hover::after {
  background-color: var(--blue-green);
}

.project-tile h2 {
  color: black;
  width: 100%;
  background: var(--honeydew);
  padding: 20px;
  z-index: 2;
}

.tile-image {
  margin: auto;
  width: 100%;
}

.contact-class {
  background: var(--liver);
  padding: 400px 0;
}

.contact-class h1 {
  text-align: center;
  font-size: 3.5rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  padding: 70px;
}

.contact-links a {
  padding: 20px;
  transition: transform 500ms;
}

.contact-links a:hover {
  transform: translateY(10px);
}

.footer-class {
  background: var(--liver);
  text-align: right;
  font-size: 1.4rem;
  padding: 40px 100px;
  border-top: 2px solid var(--papaya-whip);
}
