:root {
  --lapis-lazuli: #376996;
  --blue-sapphire-200: hsla(195, 95%, 37%, 1);
  --secondary-font-color: #522B29;
  --blue-green: hsla(199, 43%, 20%, 0.2);
  --jonquil: hsla(50, 94%, 49%, 1);
  --bone: #ECE2D0;
  --bone-lighter: #ededed;
  --papaya-whip-300: hsla(42, 100%, 81%, 0.2);
  --honeydew: hsla(169, 64%, 92%, 1);
  --liver: hsla(349, 12%, 35%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Zen Maru Gothic", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bone);
}

a {
  text-decoration: none;
}

.navbar-class {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: var(--lapis-lazuli);
  z-index: 20;
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.navbar-class a {
  padding: 20px;
  font-size: 1.75rem;
}

.navbar-class a:last-child {
  margin-right: 5vw;
}

.welcome-class {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

.welcome-class h1 {
  font-size: 2rem;
  color: rgb(40, 39, 39);
  font-weight: lighter;
  line-height: 3rem;
}

span.primary {
  font-size: 3rem;
  color: rgb(40, 39, 39);
}

.profile-img-container {
  height: 400px;
}

.profile-img-container img {
  height: 100%;
  border-radius: 10px;
}

.projects-class {
  background-color: var(--lapis-lazuli);
  padding: 130px 50px 50px 50px;
}

.projects-class * {
  color: white;
}

.projects-class h1 {
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 20px;
  font-weight: normal;
  border-bottom: 2px solid white;
  margin: 0 auto 40px auto;
  max-width: 700px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.project-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto 23px auto;
  max-width: 600px;
}

.project-tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: background-color 0.6s;
}

@media (min-width: 800px) {
  .projects-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh 5vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .welcome-class h1 {
    font-size: 2rem;
  }
}

.project-tile:hover::after {
  background-color: var(--blue-green);
}

.project-tile h2 {
  color: black;
  width: 100%;
  background: var(--honeydew);
  padding: 20px;
  z-index: 2;
}

.tile-image {
  margin: auto;
  width: 100%;
}

.contact-class {
  background: var(--liver);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-class h1 {
  display: block;
  font-size: 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 70px;
}

.contact-links a {
  padding: 20px;
  transition: transform 500ms;
}

.contact-links a:hover {
  transform: translateY(10px);
}

.footer-class {
  background: var(--liver);
  text-align: right;
  font-size: 1.2rem;
  padding: 40px 100px;
  border-top: 2px solid var(--papaya-whip);
}